.box{
    width: 550px;
    height: 276px;
    position: fixed;
    left: 50%;
    top: 50%;
    border: ridge;
    transform: translateX(-50%) translateY(-50%);
    border: ridge;
    border-radius: 6px;
    border-style: groove;
	  
}
.profile-container {
    float: right;
    margin-right: 20px;
    display: flex;
    margin-top: 15px;
}
.profile-icon {
    /* background-image: url(../img/ic_profile.png); */
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid #CCC;
    background-size: cover;
}
.profile-arrow {
    background-image: url(../img/ic_down.png);
    width: 13px;
    height: 13px;
    background-size: cover;
    margin-top: 10px;
    margin-left: 10px;
}
.heading{
 color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 15px 47px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
	}
	.title{
	    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    
    margin-left: -24px;
	}
	.grp{
	position: relative;
    display: table;
    border-collapse: separate;
	    margin-bottom: 25px;
		margin-left:35px;}
.form{
	width: 458px;
    height: 25px;
    border-radius: 4px;
    border-style: inset;
    margin-top: 35px;
    padding: 5px;
}
.span1{
	    border-right: 0;}
		.checkbox{
		    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
	display: block;
  
    padding-left: 20px;
}
.forget-pass{
    color: #428bca;
}
.button{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}
.invalid-user{
        color: red;
    margin-left: 15px;
    margin-top: 8px;
    font-weight: bold;
}
.btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;}
.btn1{
	color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;}
.btn2{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;}