.wrapper{
    /* background-color: #eee; */
    width: 100%;
    padding: 20px;
    margin-top: 70px;
}
th td{
    padding: 10px;
}
.create{
    /* width: 20px;
    height: 30px; */
    display: flex;

} 
.add-btn{
background-image: url(../../img/add.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: lightgreen;
    
}
.wrap{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    background-color: lightblue;
}
.wrapper-header{
background-color: #28c2da;
    display: flex;
    padding: 6px;
    color: white;
    font-size: 18px;
    margin-top: 8px;
        cursor: pointer;
}
.wrapper-body{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    display: none;
    border: 1px solid #ccc;

}

.hide{
    display: none;
}
.icon {
	width: 30px;
	height: 30px;
	background-size: cover;
}
.icon-plus {
	background-image: url('../../img/add.png');
	float: right;
	/* margin-top: 10px; */
	margin-right: 10px;
}
.btn {
	cursor: pointer;
}
.add-head {
    /* float: right; */
        display: flex;
   
}
.text{
    font-size: 20px;
    font-weight: bold;
    color: #eee;
    float: left;
    margin: 10px;

}
.delete-btn{
	background-image: url(../../img/delete.png);
    margin-top: 15px;
     /* margin-left: 25px;
    position: absolute; */ 
    right: 0;
}
.edit-btn{
    background-image: url(../../img/edit.png);
    margin-top: 15px;
    /* margin-right: 65px;
    position: absolute; */
    right: 0;
}
/* .user-content{
    display: flex;
} */
 .user-content{
    /* display: flex; */
    overflow-y: auto;
    margin-top: 60px;
} 

.item-wrapper {
        width: 200px;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.4);
    padding-top: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 3px;
    /* display: flex; */
    background-color: #d9edf7;
    /* margin-top: 40px; */
    margin-bottom: 20px;
    margin-right: 20px;
}
.light-box {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
}
label{
    font-size: 16px;
    font-weight: bold;
}

/*for add-model*/
.hide{
    display: none;
}
.button-wrapper{
    margin-top: 50px;
}
.close-btn {
	background-image: url(../../img/cut.png);
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	width: 30px;
	height: 30px;
	background-size: cover;
}
.name {
	font-size: 20px;
	line-height: 30px;
}
.modal-add-btn{
    background-image: url(../../img/add.png);
    width: 29px;
    height: 29px;
     padding: 5px; 
    background-repeat: no-repeat;
    /* background-color: #d9edf7; */
    border-radius: 5px;
    float: left
}
.modal-update-btn{
    background-color: #5cb85c;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    /* line-height: 50px; */
    text-align: center;
    float: left;
    padding: 5px;
}
.modal-wrapper {
	width: 40%;
	height: 280px;
	background-color: white;
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	top: 50%;
	left: 50%;
}
.modal-header {
	width: 100%;
	height: 40px;
	background-color: #d9edf7;
}
.modal-heading-text {
	color: black;
	margin-left: 10px;
	float: left;
	/* line-height: 40px; */
	font-size: 18px;
}
.noclick {
	pointer-events: none;
}
.modal-body {
	    background-color: white;
    width: 100%;
    height: 240px;
    padding-top: 25px;
    padding-left: 35px;
    box-sizing: border-box;
    overflow: hidden;
    padding-right: 35px;
}
.modal-details {
 
    width: 100%;
    box-sizing: border-box;
}
.modal-text {
	margin-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    color: black;
    font-size: 16px;
	line-height: 23px;
	width: 100%;
}