.grey-logo{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.intro-text{
    margin-top: 64px;
    margin-bottom: 32px;
    margin-bottom: 70px;
}

.caption{
    font-size: 20px;
    font-weight: normal;
}

.info-icon{
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}

.agile{
    background-image: url(../../../../img/icons8-running-rabbit-96.png)
}

.focus{
    background-image: url(../../../../img/icons8-goal-128.png)
}

.knowledge{
    background-image: url(../../../../img/icons8-graduation-cap-96.png)
}

.product-emp{
    margin-top: 100px;
}

.info-title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
}

.info-text{
    margin-top: 40px;
    line-height: 24px;
}


#page_view{
    position: absolute;
    top: 50px;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}