<link href="css/app/templates/header.css" rel="stylesheet"/>
<header class="light-blue">
    <div class="navigation">
        <div class="logo pull-left button" onclick="$.event.trigger({type:'change_page', url:'home'})">Workflow</div>
        <div class="header-menu button pull-right waves-effect waves-light" onclick="$.event.trigger({type:'change_page', url:'registration'})">Register</div>
        <div class="header-menu button pull-right waves-effect waves-light" onclick="$.event.trigger({type:'change_page', url:'login'})">Login</div>
    </div>
</header>