header {
    height: 50px;
    background: #23b8f6;
}

.navigation{
    padding-left: 20px;
    padding-right: 20px;
}

.logo{
    background-image: url(../../../../img/logo.png);
    width: 167px;
    height: 40px;
    margin-top: 5px;
    background-size: 40px 40px;
    color: white;
    line-height: 40px;
    padding-left: 55px;
    font-size: 24px;
    background-repeat: no-repeat;
    font-weight: 100;
}

.header-menu{
    line-height: 50px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.header-menu:hover{
    background-color: rgba(255, 255, 255, 0.3);
}