<head>

    <link rel="stylesheet" href="css/view/dashboard.css" type="text/css">
</head>

<body>
    <div class="header">
        <div class="logo"></div>
        <div class="button profile-container">
            <p class="profile-text font-size-12" id="profile_name"></p>
            <div class="profile-icon"></div>
            <div class="profile-arrow"></div>

        </div>
    </div>
    <div id="container_wrapper" class="container-wrapper"></div>
    <div class="footer">
        <p class="footer-text">WorkflowREADY 2017 Copyright © Navitas Life Sciences Ltd.</p>
        <div class="footer-logo-container">
            <div class="footer-text pull-left"></div>
            <div class="footer-logo pull-left"></div>
        </div>
    </div>
    <script src="js/view/dashboard.js"></script>
</body>