<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css/view/login.css" type="text/css">
<div class="box" id="box_model">
        <div class="heading">
            <div class="title"> Admin SignUp</div>
            <div style="float:right; font-size: 80%; position: relative; top:-10px">
                <a href="#" id="forget_pass" class="forget-pass">Forgot password?</a>
            </div>
        </div>
        <div style="margin-bottom: 25px" class="grp">
            <span class="span1"></span>
	        <i class="glyphicon glyphicon-user"></i>
            <input type="text" class="form" name="username" id="user_name" value="" placeholder="username ">
            <input type="password" class="form" name="Password" id="pass_word" value="" placeholder="Password">
        </div>
        <div class="button">
            <div id="btn_login" href="#" class="btn btn1 ">Login</div>
            <div id="invaild_user"></div>
        </div>

    </div>

</head>

</html>