<head>
    <link rel="stylesheet" href="css/lib/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/reset.css" rel="stylesheet">
    <link rel="stylesheet" href="css/view/project.css" type="text/css">
</head>
<div class="light-box hide" id="lightbox"></div>
<body>
    <div class="wrapper" id="wrap">
        <div class="add-head">
        <div class="name">Add Project</div>
    <div class="icon icon-plus btn" id="add_btn"></div>
        </div>
        <div class="user-content" id="user_content">
        </div>
        <div class="btn-primary btn" id="back_to_dashboard">Back</div>
 </div>
    
    <div class="modal-wrapper hide" id="add_modal">
        <div class="modal-header">
            <p class="modal-heading-text noclick">Add</p>
        </div>
        <div class="modal-body">
            <div class="profile-image male noclick"></div>
            <div class="modal-details">
                <input type="text" class="modal-text" id="modal_text" placeholder="Enter the Projectname">
                <input type="text" class="modal-text" id="modal_addrole" placeholder="Enter the Project Manger name">
                <input type="text" class="modal-text" id="modal_duration" placeholder="Enter the  Project duration">
            </div>
            <div class="button-wrapper">
                <div class="modal-add-btn btn " id="add_user"></div>

            </div>
        </div>
    </div>
     <div class="modal-wrapper hide" id="update_modal">
            <div class="modal-header">
                <p class="modal-heading-text noclick">Update</p>
            </div>
            <div class="modal-body">
                <div class="profile-image male noclick"></div>
                <div class="modal-details">
                    <input type="text" class="modal-text" id="modal_update">
                    <input type="text" class="modal-text" id="modal_role">
                    <input type="text" class="modal-text" id="modal_duration">
                </div>
                <div class="button-wrapper">
                    <div class="modal-update-btn btn" id="update_user">Update</div>

                </div>
            </div>
        </div>
          <div class="modal-wrapper hide" id="confirm_modal">
            <div class="modal-header">
                <p class="modal-heading-text noclick">Warning!</p>
                <div class="close-btn btn" id="close_confirm"></div>
            </div>
            <div class="modal-body">
                <div class="modal-text-container">
                    <p class="modal-info">Are you sure you want to remove this contact?</p>
                </div>
                <div class="button-wrapper">
                    <div class="modal-delete-btn btn" id="delete_user">Delete</div>
                    <div class="modal-cancel-btn btn" id="close">Cancel</div>
                </div>
            </div>
        </div>

    <script src="js/view/user.js"></script>
</body>