<app-header></app-header>
<div class="page">
  <div class="intro-text">
    <p class="intro-text slim big center-align orange-text text-darken-2">
      Workflow
    </p>
    <p class="caption center-align">
      A simple and elegant project management software.
    </p>
    <div class="container row product-emp">
      <div class="col s12 m4 l4">
        <div class="info-icon agile"></div>
        <div class="info-title center-align">Agile</div>
        <div class="info-text left-align">
          This application helps you to leverage the development process. With
          hand full of team members you can invoke their full potential of work
          effort. Clean blame and methods to resolve the hurdles. Brings you
          perfection within you.
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="info-icon focus"></div>
        <div class="info-title center-align">Focus</div>
        <div class="info-text left-align">
          Makes you to focus only on the process and never piles thing up.
          Single task at once will improve the base process of the workers to be
          good at any particular skills. Never miss guide in a wrong direction
          till end of your project.
        </div>
      </div>

      <div class="col s12 m4 l4">
        <div class="info-icon knowledge"></div>
        <div class="info-title center-align">Knowledge</div>
        <div class="info-text left-align">
          Brings you development standards and power of order and discipline to
          entire project phase. From the concept work to publishing an
          application to the store or host in server. A complete guide to the
          novice to expert using the software.
        </div>
      </div>
    </div>
  </div>
</div>